@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype"), url("../fonts/Poppins-Bold.svg#Poppins-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype"), url("../fonts/Poppins-Medium.svg#Poppins-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: #fff;
  --color-main: #f9f9fa;
  --color-darkblue: #2f455c;
  --color-dark: #152331;
  --color-browm: #212529;
  --color-cabbage: #3d4a39;
  --color-aqua: #f6faf9;
  --color-metal: #151e29;
  --color-lightblue: #1ccff9;
  --color-blue: #212868;
  --color-gray: #9193a6;
  --color-darkgrey: #6b7280;
  --color-cerulean: #02aee9;
  --color-matisse: #1f619a;
  --color-cerulean: #02aee9;
  --color-athens: #e5e7eb;
  --color-whitegrey: #f9fafb;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: var(--color-aqua);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  height: 100%;
}

body.lock {
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1326px;
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.go-to-top {
  position: fixed;
  right: 15px;
  bottom: 5%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  opacity: 0;
  border-radius: 50%;
  background: var(--color-darkblue);
  background-image: url("../images/arrow-top.svg");
  background-position: center;
  background-size: 27px 27px;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.go-to-top:hover {
  background: var(--color-dark);
  background-image: url("../images/arrow-top.svg");
  background-position: center;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}

.go-to-top--show {
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 900px) {
  .go-to-top {
    width: 50px;
    height: 50px;
    background-size: 17px 17px;
  }
  .go-to-top:hover {
    background-size: 17px 17px;
  }
}

.header {
  background-color: var(--color-white);
  -webkit-box-shadow: 11px 4px 10px rgba(47, 69, 92, 0.07);
          box-shadow: 11px 4px 10px rgba(47, 69, 92, 0.07);
  padding: 12px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__btn {
  display: inline-block;
  padding: 7px 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  text-align: center;
  color: var(--color-aqua);
  background: var(--color-darkblue);
  border: 1px solid var(--color-darkblue);
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 24px;
  height: 38px;
  transition: all 0.3s ease-in-out;
}

.header__btn:hover {
  background: var(--color-dark);
  border: 1px solid var(--color-dark);
}

.header__btn--exit {
  padding: 7px 25px;
}

.header__btn--history {
  padding: 4px 12px;
  border: 1px solid rgba(21, 30, 41, 0.2);
  border-radius: 4px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: var(--color-metal);
  background-color: var(--color-white);
  margin-right: 24px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__btn--history:hover {
  border: 1px solid var(--color-darkblue);
  color: var(--color-darkblue);
}

.header .choices__list--dropdown .choices__item--selectable::after,
.header .choices__list[aria-expanded] .choices__item--selectable::after {
  display: none;
}

.header .choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 3px;
}

.header .choices__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  min-height: 38px;
  padding: 3px 37px 3px 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  border: 1px solid rgba(21, 30, 41, 0.2);
  border-radius: 4px;
  background-color: var(--color-white);
}

.header .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: var(--color-main);
}

.header .choices__list--single {
  padding: 2px 0 2px 0;
}

.header .choices[data-type*="select-one"]:after {
  right: 12px;
  margin-top: 0;
  border: none;
  width: 16px;
  height: 16px;
  background-image: url("../images/arrow-down.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.header .choices[data-type*="select-one"].is-open:after {
  margin-top: 0px;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.header .choices__list--dropdown {
  background-color: var(--color-white);
}

.header .choices__list--dropdown .choices__item--selectable,
.header .choices__list[aria-expanded] .choices__item--selectable {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-metal);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .choices__list--single .choices__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-metal);
  opacity: 1;
}

@media (min-width: 640px) {
  .header .choices__list--dropdown .choices__item--selectable {
    padding-right: 10px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  margin-right: 8.14px;
}

.logo__text {
  font-size: 22.3743px;
  line-height: 34px;
  color: var(--color-metal);
}

@media (max-width: 900px) {
  .header {
    padding: 10px 0;
  }
  .header__btn {
    font-size: 14px;
    line-height: 21px;
    padding: 4px 12px;
    margin-right: 14px;
    height: 29px;
  }
  .header .choices__inner {
    font-size: 14px;
    line-height: 21px;
    min-height: 29px;
    padding: 0px 37px 0px 12px;
  }
  .header .choices[data-type*="select-one"] .choices__inner {
    padding-bottom: 0px;
  }
}

.speed-test {
  padding: 60px 0 80px 0;
}

.speed-test__title {
  text-align: center;
  font-size: 48px;
  line-height: 72px;
  background-color: var(--color-blue);
  background-image: linear-gradient(90.5deg, var(--color-lightblue) 10.35%, var(--color-blue) 101.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 20px 0;
}

.speed-test__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test-info {
  display: inline-block;
  background: var(--color-white);
  -webkit-box-shadow: 11px 4px 10px rgba(47, 69, 92, 0.07);
          box-shadow: 11px 4px 10px rgba(47, 69, 92, 0.07);
  padding: 30px;
  margin-bottom: 40px;
}

.test-info__text {
  margin: 0;
}

.test-info__text:not(:last-child) {
  margin: 0 0 12px 0;
}

.test-info__caption {
  display: inline-block;
  vertical-align: top;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-gray);
  margin-right: 10px;
  min-width: 40px;
}

.test-info__category {
  display: inline-block;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-darkblue);
  max-width: 375px;
}

@media (max-width: 900px) {
  .speed-test__title {
    font-size: 36px;
    line-height: 54px;
    margin: 0 0 10px 0;
  }
  .test-info__caption {
    font-size: 14px;
    line-height: 21px;
    min-width: 38px;
  }
  .test-info__category {
    font-size: 14px;
    line-height: 21px;
    max-width: 325px;
  }
}

.test-results {
  text-align: center;
  padding: 30px 0 40px 0;
}

.test-results__page {
  padding: 0;
}

.test-results__title {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: var(--color-darkblue);
  margin-bottom: 20px;
}

.test-results__title span {
  margin-right: 10px;
}

.test-results__download {
  width: 24px;
  height: 24px;
  background-image: url("../images/download.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.test-results__btn {
  padding: 12px 32px;
  background: linear-gradient(90.5deg, var(--color-lightblue) -5.65%, var(--color-blue) 101.74%);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-white);
  margin-bottom: 60px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.test-results__btn:hover {
  background: linear-gradient(90.5deg, #5ce0ff -5.65%, #2533b0 101.74%);
}

.test-table {
  background-color: var(--color-white);
  border-radius: 12px;
  display: -ms-grid;
  display: grid;
  padding: 30px 115px 30px 112px;
  -ms-grid-columns: 13.7% 1fr;
      grid-template-columns: 13.7% 1fr;
  margin-bottom: 30px;
}

.test-table__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.test-table__captions-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 58px 0 25px 0;
}

.test-table__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.test-table__caption {
  font-size: 32px;
  line-height: 48px;
  color: var(--color-darkblue);
}

.test-table__title {
  font-size: 24px;
  line-height: 36px;
}

.test-table__title--ipv4 {
  color: var(--color-cerulean);
}

.test-table__title--ipv6 {
  color: var(--color-matisse);
}

.test-table__value {
  font-size: 40px;
  line-height: 60px;
}

.test-table__value--ipv4 {
  color: var(--color-cerulean);
}

.test-table__value--ipv6 {
  color: var(--color-matisse);
}

.test-table__unit {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-darkblue);
}

.table-result {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr;
      grid-template-rows: 3fr;
  -ms-grid-columns: 15% (1fr)[23];
      grid-template-columns: 15% repeat(23, 1fr);
  margin-bottom: 20px;
}

.table-result__caption-left {
  text-align: initial;
  display: block;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-metal);
  min-height: 45px;
  padding: 10px 12px 10px 20px;
  background: var(--color-white);
}

.table-result__caption-left:first-child {
  width: 100%;
  background-color: #e1e6f0;
  border-radius: 12px 0 0 0;
}

.table-result .caption-left {
  border-radius: 0 0 0 12px;
}

.table-result__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-metal);
  background: #e1e6f0;
  min-height: 45px;
}

.table-result__caption:nth-of-type(24) {
  border-radius: 0 12px 0 0;
}

.table-result__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 45px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  padding: 10px 13px;
  color: var(--color-metal);
  background: var(--color-white);
  min-width: 24px;
}

.table-result__value:last-child {
  border-radius: 0 0 12px 0;
}

.graphs {
  display: -ms-grid;
  display: grid;
  gap: 24px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 60px;
}

.graphs__caption {
  margin: 0 0 15px 0;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.graphs__caption--ipv4 {
  color: var(--color-cerulean);
}

.graphs__caption--ipv6 {
  color: var(--color-matisse);
}

.graphs__img {
  -webkit-box-shadow: 11px 4px 10px rgba(47, 69, 92, 0.07);
          box-shadow: 11px 4px 10px rgba(47, 69, 92, 0.07);
  border-radius: 12px;
  background-color: var(--color-white);
}

.test-memo__title {
  font-size: 32px;
  line-height: 48px;
  color: var(--color-darkblue);
  margin-bottom: 20px;
  text-align: center;
}

.test-memo__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-metal);
  opacity: 0.7;
  padding: 10px 12px;
  border: 1px solid var(--color-darkblue);
  border-radius: 4px;
  width: 171px;
  margin: 0 auto 20px;
}

.test-memo__btn {
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-white);
  padding: 12px;
  background: linear-gradient(90.5deg, #1ccff9 -5.65%, #212868 101.74%);
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.test-memo__btn:hover {
  background: linear-gradient(90.5deg, #5ce0ff -5.65%, #2533b0 101.74%);
}

@media (max-width: 1300px) {
  .table-result {
    -ms-grid-columns: 15% (1fr)[23];
        grid-template-columns: 15% repeat(23, 1fr);
  }
  .table-result__caption-left {
    font-size: 14px;
    line-height: 21px;
    min-height: 41px;
    padding: 10px 12px;
  }
  .table-result__caption {
    padding: 10px 5px;
    font-size: 12px;
    line-height: 18px;
    min-height: 38px;
  }
  .table-result__value {
    font-size: 12px;
    line-height: 21px;
    padding: 10px 5px;
  }
}

@media (max-width: 900px) {
  .test-results__title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .test-results__title span {
    margin-right: 10px;
  }
  .test-results__value {
    font-size: 12px;
  }
  .test-results__download {
    width: 18px;
    height: 18px;
  }
  .test-results__btn {
    padding: 10px 37px;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 40px;
  }
  .graphs {
    display: -ms-grid;
    display: grid;
    row-gap: 10px;
    -webkit-column-gap: 24px;
            column-gap: 24px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
  }
  .graphs__caption {
    margin: 0 0 15px 0;
    font-size: 20px;
    line-height: 30px;
  }
  .test-table {
    padding: 35px 67px 35px 67px;
    margin-bottom: 20px;
  }
  .test-table__col {
    gap: 4px;
  }
  .test-table__caption {
    font-size: 20px;
    line-height: 30px;
  }
  .test-table__caption-ipv4 {
    font-size: 20px;
    line-height: 30px;
  }
  .test-table__caption-ipv6 {
    font-size: 20px;
    line-height: 30px;
  }
  .test-table__value-ipv6 {
    font-size: 36px;
    line-height: 54px;
  }
  .test-table__value-ipv4 {
    font-size: 36px;
    line-height: 54px;
  }
  .test-memo__title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .test-memo__input {
    font-size: 14px;
    line-height: 21px;
    width: 148px;
  }
  .test-memo__btn {
    font-size: 14px;
    line-height: 21px;
  }
}

.server {
  background: var(--color-white);
  border-radius: 12px;
  padding: 28px 0 30px 0;
}

.server__count {
  width: 61px;
  height: 61px;
  border: solid 2px transparent;
  border-radius: 50%;
  background-image: linear-gradient(var(--color-white), var(--color-white)), linear-gradient(90.5deg, var(--color-lightblue) -5.65%, var(--color-blue) 101.74%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: inline-block;
  position: relative;
}

.server__count::before {
  counter-increment: direction;
  content: counter(direction);
  font-size: 24px;
  line-height: 36px;
  background: linear-gradient(90.5deg, var(--color-lightblue) -5.65%, var(--color-blue) 101.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.server__list {
  counter-reset: direction;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.server__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.server__caption {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--color-darkblue);
  margin: 8px 0 10px 0;
}

.server__btn {
  padding: 12px 64.5px;
  background: linear-gradient(90.5deg, var(--color-lightblue) -5.65%, var(--color-blue) 101.74%);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-white);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.server__btn:hover {
  background: linear-gradient(90.5deg, #5ce0ff -5.65%, #2533b0 101.74%);
}

.server .choices__list--dropdown .choices__item--selectable::after,
.server .choices__list[aria-expanded] .choices__item--selectable::after {
  display: none;
}

.server .choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 3px;
}

.server .choices__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  min-height: 48px;
  padding: 3px 37px 3px 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  border: 1px solid rgba(21, 30, 41, 0.2);
  border-radius: 4px;
  background-color: var(--color-white);
  width: 193px;
}

.server .thread .choices__inner {
  padding: 3px 37px 3px 37px !important;
}

.server .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: var(--color-main);
}

.server .choices__list--single {
  padding: 2px 0 2px 0;
}

.server .choices[data-type*="select-one"]:after {
  right: 12px;
  margin-top: 0;
  border: none;
  width: 16px;
  height: 16px;
  background-image: url("../images/arrow-down.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.server .choices[data-type*="select-one"].is-open:after {
  margin-top: 0px;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.server .choices__list--dropdown {
  background-color: var(--color-white);
}

.server .choices__list--dropdown .choices__item--selectable,
.server .choices__list[aria-expanded] .choices__item--selectable {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-metal);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.server .choices__list--single .choices__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-metal);
  opacity: 1;
}

@media (min-width: 640px) {
  .server .choices__list--dropdown .choices__item--selectable {
    padding-right: 10px;
  }
}

@media (max-width: 900px) {
  .server__caption {
    font-size: 20px;
    line-height: 30px;
    margin: 8px 0 10px 0;
  }
  .server .choices__inner {
    min-height: 41px;
    padding: 3px 37px 3px 12px;
    font-size: 14px;
    line-height: 21px;
    width: 156px;
  }
  .server__btn {
    padding: 10px 57px;
    font-size: 14px;
    line-height: 21px;
  }
}

.thread .choices__item--selectable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.setting__title {
  margin: 60px 0 40px 0;
}

.setting__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-white);
  padding: 40px 0;
  margin-bottom: 20px;
}

.setting__qr-code {
  width: 300px;
  height: 300px;
}

.setting__table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: 2fr;
      grid-template-rows: 2fr;
  margin-bottom: 40px;
  text-align: center;
}

.setting .table-result__value:last-child {
  border-radius: 0 0 0 0;
}

.setting .choices {
  margin-bottom: 10px;
}

.setting .choices__list--dropdown .choices__item--selectable::after,
.setting .choices__list[aria-expanded] .choices__item--selectable::after {
  display: none;
}

.setting .choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 0;
}

.setting .choices__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  min-height: 48px;
  padding: 0px 0px 0px 0px;
  font-weight: 400;
  color: var(--color-metal);
  line-height: 24px;
  letter-spacing: -0.32px;
  border: 1px solid var(--color-darkblue);
  border-radius: 4px;
  background-color: var(--color-white);
  width: 193px;
  height: 48px;
}

.setting .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: var(--color-main);
}

.setting .choices__list--single {
  padding: 0;
}

.setting .choices[data-type*="select-one"]:after {
  right: 12px;
  margin-top: 0;
  border: none;
  width: 16px;
  height: 16px;
  background-image: url("../images/arrow-down.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.setting .choices[data-type*="select-one"].is-open:after {
  margin-top: 0px;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.setting .choices__list--dropdown {
  background-color: var(--color-white);
}

.setting .choices__list--dropdown .choices__item--selectable,
.setting .choices__list[aria-expanded] .choices__item--selectable {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-metal);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  padding: 0;
}

.setting .choices__list--single .choices__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-metal);
  opacity: 1;
}

.setting .choices__item--selectable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.setting-inputs__title {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: var(--color-darkblue);
  margin: 0 0 10px 0;
}

.setting-inputs__input {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-metal);
  opacity: 0.7;
  border: 1px solid var(--color-darkblue);
  border-radius: 4px;
  width: 193px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.setting-inputs__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-white);
  width: 193px;
  height: 48px;
  background: linear-gradient(90.5deg, #1ccff9 -5.65%, #212868 101.74%);
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.setting-inputs__btn:hover {
  background: linear-gradient(90.5deg, #5ce0ff -5.65%, #2533b0 101.74%);
}

.info {
  text-align: center;
}

.info:not(:last-child) {
  margin-bottom: 24px;
}

.info__title {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-gray);
  margin-bottom: 10px;
}

.info__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-darkblue);
}

@media (max-width: 900px) {
  .setting__title {
    margin-bottom: 30px;
  }
  .setting__qr-code {
    width: 212px;
    height: 212px;
  }
  .choices__inner {
    font-size: 14px;
    line-height: 21px;
  }
  .setting-inputs__title {
    font-size: 20px;
    line-height: 30px;
  }
  .setting-inputs__input {
    font-size: 14px;
    line-height: 21px;
  }
  .setting-inputs__btn {
    font-size: 14px;
    line-height: 21px;
  }
  .info__title {
    font-size: 14px;
    line-height: 21px;
  }
  .info__text {
    font-size: 14px;
    line-height: 21px;
  }
}

.history {
  padding-top: 70px;
}

.history__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.history__title {
  display: inline-block;
  text-align: start;
  margin: 0;
  margin-right: 68px;
}

.history__table {
  display: -ms-grid;
  display: grid;
  text-align: start;
  -ms-grid-columns: 21.7% 14.5% 12.8% 19.2% 19.5% 12.3%;
      grid-template-columns: 21.7% 14.5% 12.8% 19.2% 19.5% 12.3%;
}

.history__date {
  height: 48px;
  width: 233px;
  text-align: center;
  padding: 12px 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-brown);
  background: var(--color-white);
  border: 1px solid #cfd4d9;
  -webkit-box-shadow: 0px 0px 0px #cbdafc;
          box-shadow: 0px 0px 0px #cbdafc;
  border-radius: 4px;
  margin-right: 16px;
}

.history__arrows {
  width: 24px;
  height: 24px;
  background-image: url("../images/arrows.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.history-table__caption {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 10px 20px;
}

.history-table__caption:first-child {
  border-radius: 12px 0 0 0;
}

.history-table__caption:nth-of-type(6) {
  border-radius: 0 12px 0 0;
}

.history-table__value {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 10px 20px;
}

.daterangepicker .drp-selected {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.32px;
  color: var(--color-darkgrey);
}

.daterangepicker.show-calendar .drp-buttons {
  padding: 20px;
}

.daterangepicker .drp-buttons .btn {
  margin-left: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.32px;
  color: var(--color-metal);
  background: var(--color-white);
  border: 1px solid var(--color-athens);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 10px 12px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.daterangepicker .drp-buttons .btn:hover {
  background-color: var(--color-cerulean);
  color: var(--color-white);
  cursor: pointer;
}

.cancelBtn {
  margin-left: 20px !important;
}

.daterangepicker .ranges li {
  font-family: "Poppins", sans-serif;
  padding: 10px 15px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: var(--color-metal);
  border: 1px solid transparent;
  background: var(--color-whitegrey);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.daterangepicker .ranges li:hover {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: var(--color-metal);
  background: var(--color-white);
  border: 1px solid var(--color-athens);
  border-radius: 6px;
}

.daterangepicker .ranges ul {
  width: 134px;
  margin-top: 16px;
  margin-bottom: 16px;
  background: var(--color-whitegrey);
}

.daterangepicker.show-calendar .ranges {
  margin-top: 0px;
}

.daterangepicker:after {
  border-bottom: 6px solid var(--color-whitegrey);
}

.daterangepicker .ranges {
  margin-top: 0px;
  width: 166px;
  background: var(--color-whitegrey);
  padding-bottom: 132px;
}

.daterangepicker .ranges li.active {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: var(--color-metal);
  background: var(--color-white);
  border: 1px solid var(--color-athens);
  border-radius: 6px;
}

.daterangepicker th.month {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-metal);
}

.daterangepicker .calendar-time {
  margin: 13px auto 13px auto;
}

.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: var(--color-metal);
  width: 57px;
  height: 27px;
  border: 1px solid var(--color-athens);
  border-radius: 6px;
  background: transparent;
}

thead tr:last-child th {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: var(--color-darkgrey);
}

.daterangepicker td.off {
  color: rgba(145, 147, 166, 0.4);
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: var(--color-cerulean);
  border-color: transparent;
  color: var(--color-white);
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background-color: var(--color-cerulean);
}

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  min-width: 46px;
  width: 46px;
  height: 46px;
}

.daterangepicker .drp-calendar {
  max-width: 342px;
}

@media (max-width: 900px) {
  .history {
    padding-top: 40px;
  }
  .history__date {
    width: 209px;
    line-height: 21px;
  }
  .drp-calendar.left {
    height: 465px;
  }
  .daterangepicker .drp-calendar.right .calendar-table {
    display: none;
  }
  .drp-calendar.right .calendar-time {
    position: absolute;
    left: 225px;
    bottom: 80px;
  }
  .drp-calendar.left .calendar-time:before {
    content: "From time:        ";
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
    color: var(--color-metal);
  }
  .drp-calendar.right .calendar-time:before {
    content: "To time:        ";
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
    color: var(--color-metal);
  }
}

.step__table {
  display: -ms-grid;
  display: grid;
  text-align: start;
  -ms-grid-columns: 4.86% 14.35% 11.49% 10.8% 10.9% 14.35% 11.49% 10.8% 10.95%;
      grid-template-columns: 4.86% 14.35% 11.49% 10.8% 10.9% 14.35% 11.49% 10.8% 10.95%;
}

.step__arrows {
  width: 24px;
  height: 24px;
  background-image: url("../images/filter.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.step-table__caption {
  padding: 10px;
}

.step-table__caption:first-child {
  border-radius: 0 0 0 0;
}

.step-table__caption:nth-of-type(9) {
  border-radius: 0 0 0 0;
}

.step-table__caption:nth-of-type(6) {
  border-radius: 0 0 0 0;
}

.history-table__value--even {
  background-color: rgba(225, 230, 240, 0.5);
}

@media (max-width: 900px) {
  .step-table__caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 69, 92, 0.2);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: var(--color-white);
  color: #000;
  max-width: 800px;
  min-width: 600px;
  padding: 60px;
  position: relative;
  border-radius: 14px;
  opacity: 0;
}

.popup__close {
  width: 15px;
  height: 15px;
  background-image: url("../images/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  font-weight: 400;
  font-size: 30px;
  line-height: 20px;
  color: var(--color-metal);
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

.popup__title {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-metal);
  margin-bottom: 24px;
}

.form {
  text-align: center;
}

.form__input {
  margin: auto;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-brown);
  background: var(--color-white);
  border: 1px solid #cfd4d9;
  -webkit-box-shadow: 0px 0px 0px #cbdafc;
          box-shadow: 0px 0px 0px #cbdafc;
  border-radius: 4px;
  padding: 6px 12px;
}

.form__btn {
  display: block;
  width: auto;
  height: auto;
  padding: 7px 12px;
  background: var(--color-cerulean);
  border: 1px solid var(--color-cerulean);
  margin: 24px auto 10px auto;
}

.form__btn--id {
  border: 1px solid #cb9b15;
  background: #cb9b15;
  margin: 0 auto;
}

.form__btn--id:hover {
  background: #84691f;
  border: 1px solid #84691f;
}

.form__chekbox {
  cursor: pointer;
}

.form__chekbox:first-child {
  margin-bottom: 10px;
}

.form__chekbox label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-brown);
}

.form__input:first-child {
  margin-bottom: 10px;
}

input::-webkit-input-placeholder {
  color: var(--color-gray);
}

input:-ms-input-placeholder {
  color: var(--color-gray);
}

input::-ms-input-placeholder {
  color: var(--color-gray);
}

input::placeholder {
  color: var(--color-gray);
}

.footer {
  background-color: var(--color-white);
  padding: 10px 0;
  -webkit-box-shadow: 11px -4px 10px rgba(47, 69, 92, 0.07);
          box-shadow: 11px -4px 10px rgba(47, 69, 92, 0.07);
}

.footer__beta {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-darkblue);
}

.footer__time {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--color-darkblue);
}

@media (max-width: 900px) {
  .footer__beta {
    font-size: 14px;
    line-height: 21px;
  }
  .footer__time {
    font-size: 14px;
    line-height: 21px;
  }
}
