.footer {
    background-color: var(--color-white);
    padding: 10px 0;
    box-shadow: 11px -4px 10px rgba(47, 69, 92, 0.07);
    &__beta {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.32px;
        color: var(--color-darkblue);
    }
    &__time {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.32px;
        color: var(--color-darkblue);
    }
}

//media
@media (max-width: 900px) {
    .footer {
        &__beta {
            font-size: 14px;
            line-height: 21px;
        }
        &__time {
            font-size: 14px;
            line-height: 21px;
        }
    
    }
}
