.history {
    padding-top: 70px;
    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    &__title {
        display: inline-block;
        text-align: start;
        margin: 0;
        margin-right: 68px;
    }
    &__table {
        display: grid;
        text-align: start;
        grid-template-columns: 21.7% 14.5% 12.8% 19.2% 19.5% 12.3%;
    }
    &__date {
        height: 48px;
        width: 233px;
        text-align: center;
        padding: 12px 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.32px;
        color: var(--color-brown);
        background: var(--color-white);
        border: 1px solid #cfd4d9;
        box-shadow: 0px 0px 0px #cbdafc;
        border-radius: 4px;
        margin-right: 16px;
    }
    &__arrows {
        width: 24px;
        height: 24px;
        background-image: url("../images/arrows.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: transform 0.3s ease-in-out;
    }
}

.history-table {
    &__caption {
        justify-content: start;
        padding: 10px 20px;
        &:first-child {
            border-radius: 12px 0 0 0;
        }
        &:nth-of-type(6) {
            border-radius: 0 12px 0 0;
        }
    }
    &__value {
        justify-content: start;
        padding: 10px 20px;
    }
}

.daterangepicker .drp-selected {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.32px;
    color: var(--color-darkgrey);
}

.daterangepicker.show-calendar .drp-buttons {
    padding: 20px;
}

.daterangepicker .drp-buttons .btn {
    margin-left: 8px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.32px;
    color: var(--color-metal);
    background: var(--color-white);
    border: 1px solid var(--color-athens);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 10px 12px;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: var(--color-cerulean);
        color: var(--color-white);
        cursor: pointer;
    }
}

.cancelBtn {
    margin-left: 20px !important;
}

.daterangepicker .ranges li {
    font-family: "Poppins", sans-serif;
    padding: 10px 15px;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.32px;
    color: var(--color-metal);
    border: 1px solid transparent;
    background: var(--color-whitegrey);
    transition: all 0.3s ease-in-out;
}

.daterangepicker .ranges li:hover {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.32px;
    color: var(--color-metal);
    background: var(--color-white);
    border: 1px solid var(--color-athens);
    border-radius: 6px;
}

.daterangepicker .ranges ul {
    width: 134px;
    margin-top: 16px;
    margin-bottom: 16px;
    background: var(--color-whitegrey);
}

.daterangepicker.show-calendar .ranges {
    margin-top: 0px;
}

.daterangepicker:after {
    border-bottom: 6px solid var(--color-whitegrey);
}

.daterangepicker .ranges {
    margin-top: 0px;
    width: 166px;
    background: var(--color-whitegrey);
    padding-bottom: 132px;
}

.daterangepicker .ranges li.active {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.32px;
    color: var(--color-metal);
    background: var(--color-white);
    border: 1px solid var(--color-athens);
    border-radius: 6px;
}

.daterangepicker th.month {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: var(--color-metal);
}

.daterangepicker .calendar-time {
    margin: 13px auto 13px auto;
}

.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.32px;
    color: var(--color-metal);
    width: 57px;
    height: 27px;
    border: 1px solid var(--color-athens);
    border-radius: 6px;
    background: transparent;
}

thead tr:last-child th {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.32px;
    color: var(--color-darkgrey);
}

.daterangepicker td.off {
    color: rgba(145, 147, 166, 0.4);
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: var(--color-cerulean);
    border-color: transparent;
    color: var(--color-white);
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
    background-color: var(--color-cerulean);
}

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
    min-width: 46px;
    width: 46px;
    height: 46px;
}

.daterangepicker .drp-calendar {
    max-width: 342px;
}

//media
@media (max-width: 900px) {
    .history {
        padding-top: 40px;
        &__date {
            width: 209px;
            line-height: 21px;
        }
    }
    .drp-calendar.left {
        height: 465px;
    }
    .daterangepicker .drp-calendar.right .calendar-table {
        display: none;
    }
    .drp-calendar.right .calendar-time {
        position: absolute;
        left: 225px;
        bottom: 80px;
    }

    .drp-calendar.left .calendar-time:before {
        content: "From time:        ";
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.32px;
        color: var(--color-metal);
    }

    .drp-calendar.right .calendar-time:before {
        content: "To time:        ";
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.32px;
        color: var(--color-metal);
    }
}
