.test-results {
    text-align: center;
    padding: 30px 0 40px 0;
    &__title {
        margin: 0;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        color: var(--color-darkblue);
        margin-bottom: 20px;
        span {
            margin-right: 10px;
        }
    }
    &__download {
        width: 24px;
        height: 24px;
        background-image: url("../images/download.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: transform 0.3s ease-in-out;
    }

    &__btn {
        padding: 12px 32px;
        background: linear-gradient(90.5deg, var(--color-lightblue) -5.65%, var(--color-blue) 101.74%);
        border-radius: 4px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.32px;
        color: var(--color-white);
        margin-bottom: 60px;
        transition: all 0.3s ease-in-out;
        &:hover {
            background: linear-gradient(90.5deg, #5ce0ff -5.65%, #2533b0 101.74%);
        }
    }
}

.test-table {
    background-color: var(--color-white);
    border-radius: 12px;
    display: grid;
    padding: 30px 115px 30px 112px;
    grid-template-columns: 13.7% 1fr;
    margin-bottom: 30px;
    &__table {
        display: flex;
        justify-content: space-between;
    }
    &__captions-left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        margin: 58px 0 25px 0;
    }
    &__col {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    &__caption {
        font-size: 32px;
        line-height: 48px;
        color: var(--color-darkblue);
    }
    &__title {
        font-size: 24px;
        line-height: 36px;
    }
    &__title--ipv4 {
        color: var(--color-cerulean);
    }
    &__title--ipv6 {
        color: var(--color-matisse);
    }
    &__value {
        font-size: 40px;
        line-height: 60px;
    }
    &__value--ipv4 {
        color: var(--color-cerulean);
    }
    &__value--ipv6 {
        color: var(--color-matisse);
    }
    &__unit {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: var(--color-darkblue);
    }
}

.table-result {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 15% repeat(23, 1fr);
    margin-bottom: 20px;

    &__caption-left {
        text-align: initial;
        display: block;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.32px;
        color: var(--color-metal);
        min-height: 45px;
        padding: 10px 12px 10px 20px;
        background: var(--color-white);

        &:first-child {
            width: 100%;
            background-color: #e1e6f0;
            border-radius: 12px 0 0 0;
        }
    }
    .caption-left {
        border-radius: 0 0 0 12px;
    }
    &__caption {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 13px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.32px;
        color: var(--color-metal);
        background: #e1e6f0;
        min-height: 45px;
        &:nth-of-type(24) {
            border-radius: 0 12px 0 0;
        }
    }
    &__value {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 45px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.32px;
        padding: 10px 13px;
        color: var(--color-metal);
        background: var(--color-white);
        min-width: 24px;
        &:last-child {
            border-radius: 0 0 12px 0;
        }
    }
}

.graphs {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 60px;
    &__caption {
        margin: 0 0 15px 0;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
    }
    &__caption--ipv4 {
        color: var(--color-cerulean);
    }
    &__caption--ipv6 {
        color: var(--color-matisse);
    }
    &__img {
        box-shadow: 11px 4px 10px rgba(47, 69, 92, 0.07);
        border-radius: 12px;
        background-color: var(--color-white);
    }
}

.test-memo {
    &__title {
        font-size: 32px;
        line-height: 48px;
        color: var(--color-darkblue);
        margin-bottom: 20px;
        text-align: center;
    }
    &__input {
        display: flex;
        justify-content: start;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.32px;
        color: var(--color-metal);
        opacity: 0.7;
        padding: 10px 12px;
        border: 1px solid var(--color-darkblue);
        border-radius: 4px;
        width: 171px;
        margin: 0 auto 20px;
    }
    &__btn {
        line-height: 24px;
        letter-spacing: -0.32px;
        color: var(--color-white);
        padding: 12px;
        background: linear-gradient(90.5deg, #1ccff9 -5.65%, #212868 101.74%);
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
        &:hover {
            background: linear-gradient(90.5deg, #5ce0ff -5.65%, #2533b0 101.74%);
        }
    }
}

//media

@media (max-width: 1300px) {
    .table-result {
        grid-template-columns: 15% repeat(23, 1fr);

        &__caption-left {
            font-size: 14px;
            line-height: 21px;
            min-height: 41px;
            padding: 10px 12px;
        }
        &__caption {
            padding: 10px 5px;
            font-size: 12px;
            line-height: 18px;
            min-height: 38px;
        }
        &__value {
            font-size: 12px;
            line-height: 21px;
            padding: 10px 5px;
        }
    }
}
@media (max-width: 900px) {
    .test-results {
        &__title {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 20px;
            span {
                margin-right: 10px;
            }
        }
        &__value {
            font-size: 12px;
        }
        &__download {
            width: 18px;
            height: 18px;
        }
        &__btn {
            padding: 10px 37px;
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 40px;
        }
    }

    .graphs {
        display: grid;
        row-gap: 10px;
        column-gap: 24px;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 40px;
        &__caption {
            margin: 0 0 15px 0;
            font-size: 20px;
            line-height: 30px;
        }
    }

    .test-table {
        padding: 35px 67px 35px 67px;
        margin-bottom: 20px;
        &__col {
            gap: 4px;
        }
        &__caption {
            font-size: 20px;
            line-height: 30px;
        }
        &__caption-ipv4 {
            font-size: 20px;
            line-height: 30px;
        }
        &__caption-ipv6 {
            font-size: 20px;
            line-height: 30px;
        }
        &__value-ipv6 {
            font-size: 36px;
            line-height: 54px;
        }
        &__value-ipv4 {
            font-size: 36px;
            line-height: 54px;
        }
    }

    .test-memo {
        &__title {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 30px;
        }
        &__input {
            font-size: 14px;
            line-height: 21px;
            width: 148px;
        }
        &__btn {
            font-size: 14px;
            line-height: 21px;
        }
    }
}
